# Игнорировать временные файлы сборки
*.o
*.obj
*.a
*.pyc
__pycache__

# Игнорировать файлы конфигурации ОС
.DS_Store

# Игнорировать файлы логов и временные файлы
*.log
*.tmp

# Игнорировать файлы IntelliJ IDEA
.idea
