HOST=0.0.0.0
PORT=8004

MAX_TIMEOUT=600

SCRAP_URL_SCRAP=http://fastapi-scrapper:8001/start

MODIFICATOR_URL_REM_BG=http://fastapi-modificator:8002/rem_bg
MODIFICATOR_URL_REM_DUP=http://fastapi-modificator:8002/rem_dup
MODIFICATOR_URL_PYRAMID=http://fastapi-modificator:8002/pyramid

FINDER_URL_HSV=http://fastapi-finder:8003/hsv
FINDER_URL_CLIP=http://fastapi-finder:8003/clip
FINDER_URL_PHOTO=http://fastapi-finder:8003/photo
FINDER_URL_CIEDGE=http://fastapi-finder:8003/ciedge2000
FINDER_URL_CLASS=http://fastapi-finder:8003/classify